
h2{
   
	text-transform: uppercase;
	text-align:center;
	width:40%;
	margin:0px auto;
	letter-spacing: 2pt;
	color:black;
		margin-top: 10px;

		font-weight: bolder;
		padding:10px;
		font-family: Verdana, Sans-serif;	
}

.input{
	padding:20px;
}



input[type=text], input[type=password]

{color:#6c757d;
	height:30px;
	border:0;
	max-width:80%;

}
#one {padding-right: 30px;}
@media screen and (max-width: 800px) {
  #one {
    text-align:center;
    display: none;
    
    clear: both;
    float: left;
    margin:100px auto;
    width: 28%;
    display: none;
  }
}


.row{}
#con_tain{margin:30px auto;}
.label{font-weight: bolder;color:rgb(235,45,68);}